<div class="container-fluid">
  <div class="row">
    <div class="mx-auto text-center my-5">
      <h1>De beaux événements t'attendent !</h1>
    </div>
  </div>

  <% @all_events.each_slice(3) do |group|%>
    <div class="container">
      <div class="row">
        <% group.each do |i|%>
          <div class="col">
            <div class="card">
              <h4 class="card-header"><%= i.title%></h4>
              <div class="card-body">
                <h6 class="card-title"><%= i.description%></h6>
                <p class="card-text">Organisé par : <%= @all_users.find(i.administrator_id).first_name%></p>
                <p class="card-text">Date de début : <%= i.start_date%></p>
                <a href="<%= event_path(i)%>" class="btn btn-primary">Voir l'événement</a>
              </div>
            </div>
          </div>
        <% end%>
      </div>
    </div>
    <br>
  <% end%>

</div>





